<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <form action="" method="post">
        <div class="input-group mb-3">
          <select class="form-select" name="search_type" id="selector">
            <option value="" selected>Select search type</option>
            <option value="iname">Name</option>
            <option value="maxfollowers">Maximum followers</option>
            <option value="minfollowers">Minimum followers</option>
            <option value="category">Category</option>
            <option value="niche">Niche</option>
          </select>
          <input type="text" name="search" id="search" class="form-control" placeholder="Search">
          <a href="" class="btn btn-outline-danger"><i class="fa-solid fa-backspace"></i> Clear</a>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>