{% extends "base.html" %}

{% block content %}
  <h1>Admin Dashboard</h1>

  <div class="login-form text-center mt-5 mb-3 p-5 pt-4 pb-4 w-50 m-auto">
    <h1>Sponsor</h1>
    <div class="card" style="width: 35rem; margin: auto;">
      <div class="card-body">
        <h4 class="card-title">{{ influencer.name }}</h4>
        <ul class="list-group list-group-flush text-start">
          <li class="list-group-item"><strong>Username:</strong> {{ influencer.username }}</li>
          <li class="list-group-item"><strong>Category:</strong> {{ influencer.category }}</li>
          <li class="list-group-item"><strong>Niche:</strong> {{ influencer.niche }}</li>
          <li class="list-group-item"><strong>Followers:</strong> {{ influencer.follower_count }}</li>
          <li class="list-group-item"><strong>Platform Presence:</strong>
            {% for platform in platforms %}
            {% if platform == "twitter" %}
              <button class="btn btn-primary"><i class="fa-brands fa-twitter"></i> Twitter</button>
            {% endif %}
            {% if platform == "facebook" %}
              <button class="btn btn-info"><i class="fa-brands fa-facebook"></i> Facebook</button>
            {% endif %}
            {% if platform == "youtube" %}
              <button class="btn btn-danger"><i class="fa-brands fa-youtube"></i> Youtube</button>
            {% endif %}
            {% if platform == "instagram" %}
              <button class="btn btn-warning"><i class="fa-brands fa-instagram"></i> Instagram</button>
            {% endif %}
            {% if platform == "tiktok" %}
              <button class="btn btn-dark"><i class="fa-brands fa-tiktok"></i> TikTok</button>
            {% endif %}
            {% endfor %}
          </li>
        </ul>
          <a href="{{url_for("all_influencers")}}" class="btn btn-primary">Go Back</a>
      </div>
    </div>
  </div>
{% endblock %}