{% extends "base.html" %}

{% block content %}
  <h1>Influencer Dashboard</h1>

  <div class="login-form text-center mt-5 mb-3 p-5 pt-4 pb-4 w-50 m-auto">
    <h1>Ad Request</h1>
    <div class="card" style="width: 35rem; margin: auto;">
      <div class="card-body">
        <h4 class="card-title">{{ campaign_name }}</h4>
        <ul class="list-group list-group-flush text-start">
          <li class="list-group-item"><strong>Sponsor:</strong> {{ sponsor_name }}</li>
          <li class="list-group-item"><strong>Requirements:</strong> {{ ad_request.requirements }}</li>
          <li class="list-group-item"><strong>Message:</strong> {{ ad_request.messages }}</li>
          <li class="list-group-item"><strong>Payment Amount:</strong> {{ ad_request.payment_amount }}</li>
        </ul>
        <div class="d-flex justify-content-between w-75 m-auto mt-3">
          <a href="{{url_for("influencer_dashboard_accept_adrequest", adrequest_id=ad_request.id)}}" class="btn btn-outline-success"><i class="fa-solid fa-square-check"></i> Accept</a>
          <a href="{{url_for("influencer_dashboard_reject_adrequest", adrequest_id=ad_request.id)}}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Reject</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}