{% extends "base.html" %}

{% block content %}
  <h1>Influencer Dashboard</h1>

  <div class="login-form text-center mt-5 mb-3 p-5 pt-4 pb-4 w-50 m-auto">
    <h1>Campaign</h1>
    <div class="card" style="width: 25rem; margin: auto;">
      <div class="card-body">
        <h4 class="card-title">{{ campaign.name }}</h4>
        <ul class="list-group list-group-flush text-start">
          <li class="list-group-item"><strong>Sponsor:</strong> {{ sponsor.name }}</li>
          <li class="list-group-item"><strong>Description:</strong> {{ campaign.description }}</li>
          <li class="list-group-item"><strong>Start date:</strong> {{ campaign.start_date.date() }}</li>
          <li class="list-group-item"><strong>End date:</strong> {{ campaign.end_date.date() }}</li>
          <li class="list-group-item"><strong>Budget:</strong> {{ campaign.budget }}</li>
          <li class="list-group-item"><strong>Goals:</strong> {{ campaign.goals }}</li>
          <li class="list-group-item"><strong>Visibility:</strong> {{ campaign.visibility }}</li>
        </ul>
          <a href="{{url_for("influencer_dashboard")}}" class="btn btn-primary">Go Back</a>
      </div>
    </div>
  </div>

  <hr class="border border-3 border-dark-subtle mt-5">

  <h2 class="h2 text-center">Your active ads in this campaign</h2>
  {% if active_ads | length == 0 %}
    <p class="text-sm text-muted text-center mt-4">No ads.</p>
  {% else %}
    <table class="table table-hover mt-4">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Campaign Name</th>
        <th scope="col">Sponsor Name</th>
        <th scope="col">Requirement</th>
        <th scope="col">Message</th>
        <th scope="col">Actions</th>
      </thead>
      <tbody class="table-group-divider">
        {% for ad in active_ads %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ campaign.name }}</td>
            <td>{{ sponsor.name }}</td>
            <td>{{ ad.requirements }}</td>
            <td>{{ ad.messages }}</td>
            </td>
            <td>
              {% if not ad.completed %}
                <a href="{{url_for("influencer_dashboard_completed_ad", adrequest_id=ad.id)}}" class="btn btn-outline-primary"><i class="fa-solid fa-check"></i> Mark Completed</a>
              {% else %}
                <button class="btn btn-success"><i class="fa-solid fa-check"></i> Completed</button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <hr class="border border-3 border-dark-subtle mt-5">

  <h2 class="h2 text-center">Your completed ads in this campaign</h2>
  {% if completed_ads | length == 0 %}
    <p class="text-sm text-muted text-center mt-4">No ads.</p>
  {% else %}
    <table class="table table-hover mt-4">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Campaign Name</th>
        <th scope="col">Sponsor Name</th>
        <th scope="col">Requirement</th>
        <th scope="col">Message</th>
        <th scope="col">Status</th>
      </thead>
      <tbody class="table-group-divider">
        {% for ad in completed_ads %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ campaign.name }}</td>
            <td>{{ sponsor.name }}</td>
            <td>{{ ad.requirements }}</td>
            <td>{{ ad.messages }}</td>
            </td>
            <td>
              <button class="btn btn-success"><i class="fa-solid fa-check"></i> Completed</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}